.btn {
  display: inline-block;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 16px 56px;
  border-radius: 56px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #65e4a3;
  color: #0a2640;
  border: 2px solid #65e4a3;
}

.btn:active {
  transform: scale(0.95);
  outline: none;
}

@media (max-width: 420px) {
  .btn :hover {
    background-color: unset;
    color: unset;
    border: unset;
  }

  .btn:active {
    background-color: #65e4a3;
    color: #0a2640;
    border: 2px solid #65e4a3;
  }

  .btn:focus {
    color: white;
    background-color: transparent;
    border: 2px solid white;
  }
}
