.header {
  display: flex;
  align-items: center;
  background-color: #0a2640;

  .container {
    position: relative;
    z-index: 10;
    padding-top: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      width: max-content;
      display: flex;
      gap: 70px;
      .list {
        display: flex;
        align-items: center;
        gap: 40px;

        .link {
          font-family: Open Sans;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0%;
          vertical-align: middle;
          text-decoration: none;
          color: white;
        }
      }

      .header-btns-box {
        display: flex;
        .header-btn {
          font-family: Open Sans;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          vertical-align: middle;
          padding: 8px 40px;
          background-color: white;
          color: #0a2640;
          border: none;
        }

        .header-btn:hover {
          background-color: rgb(188, 186, 186);
        }

        #burger-btn {
          display: none;
        }
      }
    }
  }
  .burger-menu {
    display: none;
  }
}

@media (max-width: 420px) {
  .header {
    .container {
      align-items: center;
      .nav {
        align-items: center;
        .list {
          display: none;
        }

        .header-btns-box {
          align-items: center;
          gap: 20px;

          .header-btn {
            padding: 8px 30px;
            font-size: 14px;
          }

          #burger-btn {
            padding: 0;
            position: relative;
            width: 20px;
            height: 20px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            transition: 0.3s ease;
            cursor: pointer;
            background-color: transparent;
            border: none;

            .top-line {
              position: absolute;
              width: 20px;
              height: 2px;
              top: 5px;
              left: 0;
              background-color: white;
              transition: 0.3s ease;
            }

            .bottom-line {
              position: absolute;
              width: 20px;
              height: 2px;
              left: 0;
              bottom: 5px;
              background-color: white;
              transition: 0.3s ease;
            }
          }

          #burger-btn.active .top-line {
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
          }

          #burger-btn.active .bottom-line {
            bottom: 50%;
            transform: rotate(45deg) translateY(50%);
          }
        }
      }
    }

    .burger-menu {
      position: fixed;
      padding: 0 1rem;
      padding-bottom: 40px;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px;
      background-color: #0a2640;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      gap: 20px;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      z-index: 5;
      border-bottom-left-radius: 20px;
    }

    .burger-menu.active {
      transform: translateX(0);
    }

    .burger-list {
      list-style: none;
      padding: 0;
      text-align: center;
    }

    .burger-list-item {
      margin-top: 20px;
    }

    .burger-link {
      font-family: Open Sans;
      text-decoration: none;
      color: white;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
