.same-top {
  margin-top: 80px;

  .container {
    .text {
      display: block;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      text-align: center;
      color: #777777;
    }

    .title {
      font-family: Manrope;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      margin-top: 12px;
    }
  }
}

@media (max-width: 420px) {
  .same-top {
    margin-top: 50px;

    .container {
      .title {
        font-size: 30px;
        line-height: 48px;

        .hidden-br {
          display: none;
        }
      }
    }
  }
}
