.about {
  background-color: #0a2640;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 160px;

    .top-text {
      display: block;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #f1f1f1;
      text-align: center;
    }

    .title {
      margin-top: 12px;
      font-family: Manrope;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      width: 842px;
      color: white;
    }

    .description {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: center;
      color: white;
      margin-top: 17px;
      width: 745px;
    }

    .img-boxes {
        position: absolute;
      display: flex;
      align-items: center;
      gap: 50px;
      top: 410px;

      .col-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}

@media (max-width: 420px) {
  .about {
    .container {
        padding-bottom: 50px;
      .top-text {
        font-size: 16px;
        line-height: 24px;
      }

      .title {
        font-size: 32px;
        line-height: 44px;
        width: 100%;
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
      }

      .img-boxes {
        display: none;
      }
    }
  }
}
