.numbers {
  margin-top: 100px;
  background-color: #0a2640;

  .container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-text {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #f1f1f1;
    }

    .title {
      width: 842px;
      margin-top: 12px;
      font-family: Manrope;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      color: white;
    }

    .numbers-box {
      width: 100%;
      max-width: 1000px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 84px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: flex-start;

        .number {
          font-family: Manrope;
          font-weight: 400;
          font-size: 96px;
          line-height: 56px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #4fe9a4;
        }

        .number-text {
          font-family: Open Sans;
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0%;
          color: #f1f1f1;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .numbers {
    .container {
      .title {
        width: 100%;
        font-size: 32px;
        line-height: 48px;
      }

      .numbers-box {
        flex-direction: column;
        gap: 40px;

        .card {
          .number {
            font-size: 64px;
            line-height: 48px;
            text-align: center;
          }

          .number-text {
            font-size: 20px;
            line-height: 32px;
            text-align: center;
          }
        }
      }
    }
  }
}
