.customers {
  margin-top: 150px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right {
      width: max-content;
      .title {
        width: 493px;
        font-family: Manrope;
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: black;
      }

      .check-box {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .check-box-mini {
          width: max-content;
          display: flex;
          align-items: center;
          gap: 27px;

          .text {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0%;
            vertical-align: middle;
          }
        }
      }
      .customers-btn {
        background-color: #0a2640 !important;
        color: white;
        margin-top: 56px;
      }
    }
  }
}

@media (max-width: 420px) {
  .customers {
    margin-top: 50px;

    .container {
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto;

      .customers-img {
        width: 100%;
        height: auto;
      }

      .right {
        width: 100%;

        .title {
          width: 100%;
          font-size: 24px;
          line-height: 36px;
        }

        .check-box {
          .check-box-mini {
            .text {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
        .customers-btn {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}
