.customers-2 {
  margin-top: 100px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .title {
        font-family: Manrope;
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: black;
        width: 493px;
      }
    }

    .customers-2-box {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 60px;

      .customers-2-card {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 16px;
        color: #000000;
        border-radius: 4px;
        box-shadow: 0px 4px 32px 0px #00000014;
        transition: 0.3s ease;

        .text {
          font-family: Open Sans;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0%;
          vertical-align: middle;
        }
      }

      .customers-2-card:hover {
        background-color: #0a2640;
        color: white;
      }
    }
  }
}

@media (max-width: 420px) {
  .customers-2 {
    .container {
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto;

      .customers-2-img {
        width: 100%;
        height: auto;
      }
      .left {
        .title {
          width: 100%;
          font-size: 24px;
          line-height: 36px;
        }

        .customers-2-box {
          margin-bottom: 40px;
          .customers-2-card {
            .text {
              font-size: 12px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
