.working {
  margin-top: 120px;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;

    .working-box {
      width: 100%;
      margin-top: 56px;
      display: flex;
      justify-content: space-between;

      .left {
        .title {
          width: 500px;
          font-family: Manrope;
          font-weight: 400;
          font-size: 36px;
          line-height: 56px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: black;
        }
      }

      .right {
        gap: 32px;
        .working-drop {
          display: flex;
          align-items: center;
          gap: 80px;
          border-bottom: 2px solid #c4c4c4;
          padding-bottom: 17px;

          .text {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0%;
            vertical-align: middle;
          }
        }

        .working-drop:nth-child(2) {
          margin-top: 32px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .working {
    margin-top: 80px;

    .container {
      overflow: hidden;
      max-width: 320px;
      margin: 0 auto;

      .working-box {
        flex-direction: column;
        gap: 30px;

        .left {
          .title {
            width: 100%;
            font-size: 24px;
            line-height: 36px;
          }
        }

        .right {
          .working-drop {
            gap: 16px;

            .text {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
