.words {
  margin-top: 45px;

  .container {
    padding-bottom: 50px;
    border-bottom: 2px solid #0a2640;
    .top-text {
      display: block;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #0a2640;
      text-align: center;
    }

    .title {
      font-family: Manrope;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      color: #0a2640;
      margin-top: 12px;
    }
    .words-box {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      align-items: center;
      gap: 100px;

      .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .time-box {
          margin-top: 24px;
          display: flex;
          align-items: center;
          gap: 12px;

          .text {
            font-family: Open Sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #0a2640;
          }

          .time {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #777777;
          }
        }

        .description {
          font-family: Manrope;
          font-weight: 400;
          font-size: 48px;
          line-height: 72px;
          letter-spacing: 0%;
        }

        .human-box {
          display: flex;
          align-items: center;
          gap: 12px;

          .name {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .words {
    .container {
      .title {
        font-size: 32px;
        line-height: 48px;
      }
      .words-box {
        flex-direction: column;
        gap: 40px;

        .words-img {
          width: 100%;
          height: auto;
        }

        .right {
          .description {
            font-size: 32px;
            line-height: 48px;
          }
        }
      }
    }
  }
}
